<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление достопримечательности</title>
</head>
<body>
<section class="container m-top">
    <h1 class="m-bottom">Для добавления достопримечательности заполните форму:</h1>
    <form method="post" th:action="@{/sights/add}" th:object="${sight}">
        <div class="form-group row">
            <label for="name" class="col-lg-2 col-form-label">Название достопримечательности: </label>
            <input class="col-lg-10" id="name" type="text" th:field="*{name}" placeholder="Название достопримечательности">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
        <div class="form-group row">
            <label for="city_id" class="col-lg-2 col-form-label">Город: </label>
            <select id="city_id" class="col-lg-10" name="city_id">
                <option th:each="city : ${cities}"
                        th:value="${city.id}"
                        th:utext="${city.name}">
                </option>
            </select>
        </div>
        <div class="form-group row">
            <label for="description" class="col-lg-2 col-form-label">Описание: </label>
            <input class="col-lg-10" id="description" type="text" th:field="*{description}" placeholder="Описание музея">
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
        </div>
        <div class="form-group row">
            <label for="fullAddress" class="col-lg-2 col-form-label">Адрес: </label>
            <input class="col-lg-10" id="fullAddress" type="text" th:field="*{fullAddress}" placeholder="Адрес музея">
            <p th:if="${#fields.hasErrors('fullAddress')}" th:errors="*{fullAddress}"></p>
        </div>
        <div id="button"><input type="submit" value="Добавить"></div>
    </form>

    <h2>Список музеев: </h2>
    <div th:each="sight : ${sights}">
        <p>
            <span th:utext="${sight.name}"></span>
            <a th:href="@{/sights/del(id=${sight.id})}" th:action="@{/sights/del}">Удалить</a>
        </p>
    </div>

</section>
<script src="/js/test.js" th:src="@{/js/test.js}"></script>
</body>
</html>