<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавления страны</title>
</head>
<body>
<section class="container m-top">
    <h1 class="m-bottom">Для добавления страны заполните форму:</h1>
    <form method="post" th:action="@{/admin/countries/add}" th:object="${country}">
        <div class="form-group row">
            <label for="name" class="col-lg-2 col-form-label">Название страны: </label>
            <input class="col-lg-10" id="name" type="text" th:field="*{name}" placeholder="Название страны">
            <p class="warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
        <p class="warning" th:if="${nameError}" th:utext="${nameError}"></p>
        <div id="button"><input type="submit" value="Добавить"></div>
    </form>

    <h2>Список стран: </h2>
    <div th:each="country : ${countries}">
        <p>
            <span th:utext="${country.name}"></span>
            <a th:href="@{/admin/countries/del(id=${country.id})}" th:action="@{/admin/countries/del}"><img th:src="@{/img/delete_icon.png}"></a>
        </p>
    </div>

</section>
<script src="/js/test.js" th:src="@{/js/test.js}"></script>
</body>
</html>