<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администрирование сайта</title>
</head>
<body>
<section class="container m-top">

    <h1>Управление разделами и записями сайта:</h1>
    <p><a href="/countries/add">Страны</a></p>
    <p><a href="/cities/add">Города</a></p>
    <p><a href="/museums/add">Музеи</a></p>
    <p><a href="/sights/add">Достопримечательности</a></p>
    <p><a href="/excursions/add">Экскурсии</a></p>
    <p><a href="/theaters/add">Театры</a></p>
</section>
<script src="/js/test.js" th:src="@{/js/test.js}"></script>
</body>
</html>