<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:replace="${title}">Заголовок, если не передан</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">CITY INSIDE</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Главная</a>
            <a sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/countries/add">Добавить страну</a>
            <a sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/cities/add">Добавить город</a>
            <a class="nav-link" sec:authorize="isAnonymous()" href="/login">Войти</a>
            <a class="nav-link" sec:authorize="isAuthenticated()" href="/logout">Выйти</a>
            </li>
        </div>
    </nav>
</header>

<main th:replace="${content}">
    <p>Содержимое страницы, если не задан content</p>
</main>

<footer>
    ...
</footer>
</body>
</html>