<!DOCTYPE html>
<html th:fragment="layout (title, content, script)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:replace="${title}">Заголовок, если не передан</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:src="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CITY INSIDE</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Главная</a>
            <a class="nav-item nav-link active" sec:authorize="hasAuthority('ROLE_ADMIN')" href="/admin/show">Управление сайтом</a>
            <a class="nav-item nav-link active" sec:authorize="isAnonymous()" href="/login">Войти</a>
            <a class="nav-item nav-link active" sec:authorize="isAnonymous()" href="/registration">Регистрация</a>
            <a class="nav-item nav-link active" sec:authorize="isAuthenticated()" href="/logout">Выйти</a>
            </li>
        </div>
    </nav>
</header>

<main th:replace="${content}">
    <p>Содержимое страницы, если не задан content</p>
</main>

<footer>
    <p>Diplom project created by Sergeev D. & Chebotaev P.</p>
</footer>
<script th:replace="${script}"></script>
</body>
</html>