<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <link rel="stylesheet" href="css/style.css" th:src="@{/css/style.css}">
</head>
<body>
<section>
    <div class="container m-top">
        <h1>Список музеев:</h1>
        <table cellpadding="0" cellspacing="0" width="80%">
            <tr>
                <td>Название</td>
                <td>Описание</td>
                <td>Адрес</td>
                <td>Эл. почта</td>
                <td>Телефон</td>
            </tr>
            <tr th:each="museum : ${museums}">
                <td><span th:utext="${museum.name}"></span></td>
                <td><span th:utext="${museum.description}"></span></td>
                <td><span th:utext="${museum.fullAddress}"></span></td>
                <td><span th:utext="${museum.mail}"></span></td>
                <td><span th:utext="${museum.phone}"></span></td>
            </tr>
        </table>
    </div>
</section>
<script src="/js/city.js" th:src="@{/js/city.js}"></script>
</body>
</html>