<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <link rel="stylesheet" href="css/style.css" th:src="@{/css/style.css}">
</head>
<body>
<section>
    <div class="container m-top">
        <h1>Список музеев:</h1>
        <table class="table_list" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="20%"><b>Название</b></td>
                <td width="35%"><b>Описание</b></td>
                <td width="20%"><b>Адрес</b></td>
                <td width="10%"><b>Эл. почта</b></td>
                <td width="10%"><b>Телефон</b></td>
                <td width="5%"><b>Обзор</b></td>
            </tr>
            <tr th:each="museum : ${museums}">
                <td><span th:utext="${museum.name}"></span></td>
                <td><span th:utext="${museum.description}"></span></td>
                <td><span th:utext="${museum.fullAddress}"></span></td>
                <td><span th:utext="${museum.email}"></span></td>
                <td><span th:utext="${museum.phone}"></span></td>
                <td><a th:href="@{/museums/view(id=${museum.id})}" th:action="@{/museums/view}">Подробнее</a></td>
            </tr>
        </table>
    </div>
</section>
<script src="/js/city.js" th:src="@{/js/city.js}"></script>
</body>
</html>