<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <meta charset="utf-8">
</head>
<body>
<section>
    <img th:src="@{/img/0Jrvgf38V8.jpg}">
    <div class="container m-top">
        <h2>Список фильмов</h2>
        <div th:each="movie : ${movies}">
            <h3>Название: <span th:utext="${movie.title}"></span></h3>
            <p>Продолжительность: <span th:utext="${movie.duration}"></span></p>
            <p th:if="${movie.actors.empty}">Нет информации об актерах</p>
            <p th:if="not ${movie.actors.empty}">Актеры:</p>
            <div th:each="actor, info : ${movie.actors}">
                <p>
                    <span th:utext="${info.count}"></span>.
                    <span th:utext="${actor.name}"></span>
                </p>
            </div>
        </div>
    </div>

</section>
</body>
</html>