<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${theater.name}"></title>
    <link rel="stylesheet" href="css/style.css" th:src="@{/css/style.css}">
</head>
<body>
<section>
    <div class="container m-top" th:object = ${theater}>
        <h1 th:utext="${theater.name}"></h1>
        <h3>Описание:</h3>
        <p th:if="${theater.description}" th:utext="${theater.description}"></p>
        <p th:if="not ${theater.description}">Отсутствует информация</p>
        <h3>Полный адрес:</h3>
        <p th:if="${theater.fullAddress}" th:utext="${theater.fullAddress}"></p>
        <p th:if="not ${theater.fullAddress}">Отсутствует информация</p>
        <h3>Телефонный номер:</h3>
        <p th:if="${theater.phone}" th:utext="${theater.phone}"></p>
        <p th:if="not ${theater.phone}">Отсутствует информация</p>

        <div id="events_list">
            <h2>Репертуар театра:</h2>
            <p th:if="${theater.events.empty}">Отсутствует информация</p>
            <ul th:if="not ${theater.events.empty}">
                <li th:each="event : ${theater.events}">
                    <span th:utext="${event.name}"> - </span>
                    <span th:each="date : ${event.dates}" th:utext="${date.date}"></span>
                </li>
            </ul>
        </div>
    </div>

</section>
<script src="/js/city.js" th:src="@{/js/city.js}"></script>
</body>
</html>